.carsItem{
    padding: 30px 0 3px 0;
    border-bottom: 1px dashed rgb(250, 247, 247);
    position: relative;

}

.btn-letter{
    margin-right: 5px;
    padding: 2px 3px;
    background-color: rgb(14, 13, 13);
    color: rgb(73, 70, 70);
    border:1px solid rgb(73, 70, 70);
    border-radius: 4px;
}
.itemContent{
    display: flex;
    align-items: center;

}
//   .flag-container{
//      width: 50px;
//     height: 70px;
//    position: relative;
//      left: 90%;
//      bottom: 0;
//   }
.flag {
    width: 0;
    height: 0;
    border-width: 30px 10px 10px;
    border-style: solid;
    border-color: #E95557 #E95557 transparent;
    position: absolute;
    transform: rotate(-90deg);
      bottom: 34px;
      left: 88%;
    }
// .stick {
//     width: 2px;
//     height: 64px;
//    background: oldlace;
//    position: absolute;
//      left: 89%;
//       bottom: 0;
//     }